# Dask tutorial

In [36]:
# PyArrow is a dependency of Dask
# !sudo apt-get update
# !sudo apt-get install python3-dask
# !pip3 install pyarrow

import dask
import dask.dataframe as dd

# When dask uses pandas 2.0.0+ it casts object columns to string automatically ([("i", 0.48)] -> '[("i", 0.48)]')
_ = dask.config.set({"dataframe.convert-string": False})

Dask Dataframes are just collections of Pandas-like Dataframes.

In [3]:
dataset_path = "smadex-challenge-predict-the-revenue/train/train"
filters = [("datetime", ">=", "2025-10-01-00-00"), ("datetime", "<", "2025-10-13-00-00")]

ddf = dd.read_parquet(
    dataset_path,
    filters = filters
)

We can operate with Dask Dataframes with the same API as the Pandas DataFrames...

In [13]:
ddf.head()

,buyer_d1,buyer_d7,buyer_d14,buyer_d28,buy_d7,buy_d14,buy_d28,iap_revenue_d7,iap_revenue_d14,iap_revenue_d28,...,user_bundles_l28d,weekend_ratio,weeks_since_first_seen,wifi_ratio,whale_users_bundle_num_buys_prank,whale_users_bundle_revenue_prank,whale_users_bundle_total_num_buys,whale_users_bundle_total_revenue,row_id,datetime
0,0,1,1,1,1,1,1,2.147718,2.147718,2.147718,...,"[88981729bd5c1e5aea9ada4bce00a2531e9e98f7, 25c...",0.019802,6.0,0.913366,None,None,None,None,819ecc0e-1a97-43ed-83f6-b9ede4f7fc48,2025-10-01-00-00
1,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,None,NaN,NaN,NaN,None,None,None,None,0a7fbf18-5041-42af-bd0a-0cb6586b8598,2025-10-01-00-00
2,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,"[6506b7e0a24666debd08f74266800f2eb154df5a, 150...",0.399021,6.0,0.999388,None,None,None,None,fc1a2689-b136-4ffa-b23b-9d8215bd720f,2025-10-01-00-00
3,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,"[2b472e3dc96f1847490d7411b25e12ed417b9714, 3ba...",0.121547,6.0,1.000000,None,None,None,None,0340fcc6-50bd-42ab-b9f4-4c1184b640cb,2025-10-01-00-00
4,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,"[1031535cf2a1315422fd05d321349bcd3c3ffc04, 478...",0.293285,6.0,0.160243,None,None,None,None,219d253f-bef4-4039-84b2-ed55f009cc43,2025-10-01-00-00

...but we cannot actually use them like this. Note that getting the header of the dataframe had a lot of computational cost because we had to load the data into memory.

In [14]:
ddf

Dask DataFrame Structure:
                buyer_d1 buyer_d7 buyer_d14 buyer_d28 buy_d7 buy_d14 buy_d28 iap_revenue_d7 iap_revenue_d14 iap_revenue_d28 registration retention_d1_to_d7 retention_d3_to_d7 retention_d7_to_d14 retention_d1 retention_d3 retentiond7 advertiser_bundle advertiser_category advertiser_subcategory advertiser_bottom_taxonomy_level carrier country  region dev_make dev_model  dev_os dev_osv    hour release_date release_msrp weekday avg_act_days avg_daily_sessions avg_days_ins avg_duration    bcat bcat_bottom_taxonomy bundles_cat bundles_cat_bottom_taxonomy bundles_ins city_hist country_hist     cpm cpm_pct_rk     ctr ctr_pct_rk dev_language_hist dev_osv_hist first_request_ts first_request_ts_bundle first_request_ts_category_bottom_taxonomy hour_ratio iap_revenue_usd_bundle iap_revenue_usd_category iap_revenue_usd_category_bottom_taxonomy last_buy last_buy_ts_bundle last_buy_ts_category last_ins last_install_ts_bundle last_install_ts_category advertiser_actions_action_count advertiser_actions_action_last_timestamp user_actions_bundles_action_count user_actions_bundles_action_last_timestamp last_advertiser_action new_bundles num_buys_bundle num_buys_category num_buys_category_bottom_taxonomy region_hist rev_by_adv rwd_prank user_bundles user_bundles_l28d weekend_ratio weeks_since_first_seen wifi_ratio whale_users_bundle_num_buys_prank whale_users_bundle_revenue_prank whale_users_bundle_total_num_buys whale_users_bundle_total_revenue  row_id         datetime
npartitions=144
                   int32    int32     int32     int32  int64   int64   int64        float64         float64         float64        int32              int32              int32               int32        int32        int32       int32            object              object                 object                           object  object  object  object   object    object  object  object  object       object        int64   int32      float64             object      float64       object  object               object      object                      object      object    object       object  object     object  object     object            object       object            int64                  object                                    object     object                 object                   object                                   object    int64             object               object    int64                 object                   object                          object                                   object                            object                                     object                 object      object          object            object                            object      object     object    object       object            object       float64                  int32    float64                            object                           object                            object                           object  object  category[known]
                     ...      ...       ...       ...    ...     ...     ...            ...             ...             ...          ...                ...                ...                 ...          ...          ...         ...               ...                 ...                    ...                              ...     ...     ...     ...      ...       ...     ...     ...     ...          ...          ...     ...          ...                ...          ...          ...     ...                  ...         ...                         ...         ...       ...          ...     ...        ...     ...        ...               ...          ...              ...                     ...                                       ...        ...                    ...                      ...                                      ...      ...                ...                  ...      ...                    ...                      ...                             ...                                      ...                               ...                                        ...                    ...         ...             ...               ...                               ...         ...        ...       ...          ...               ...           ...                    ...        ...                               ...                              ...                               ...                              ...     ...              ...
...                  ...      ...       ...       ...    ...     ...     ...            ...             ...             ...          ...                ...                ...                 ...          ...          ...         ...               ...                 ...                    ...                              ...     ...     ...     ...      ...       ...     ...     ...     ...          ...          ...     ...          ...                ...          ...          ...     ...                  ...         ...                         ...         ...       ...          ...     ...        ...     ...        ...               ...          ...              ...                     ...                                       ...        ...                    ...                      ...                                      ...      ...                ...                  ...      ...                    ...                      ...                             ...                                      ...                               ...                                        ...                    ...         ...             ...               ...                               ...         ...        ...       ...          ...               ...           ...                    ...        ...                               ...                              ...                               ...                              ...     ...              ...
                     ...      ...       ...       ...    ...     ...     ...            ...             ...             ...          ...                ...                ...                 ...          ...          ...         ...               ...                 ...                    ...                              ...     ...     ...     ...      ...       ...     ...     ...     ...          ...          ...     ...          ...                ...          ...          ...     ...                  ...         ...                         ...         ...       ...          ...     ...        ...     ...        ...               ...          ...              ...                     ...                                       ...        ...                    ...                      ...                                      ...      ...                ...                  ...      ...                    ...                      ...                             ...                                      ...                               ...                                        ...                    ...         ...             ...               ...                               ...         ...        ...       ...          ...               ...           ...                    ...        ...                               ...                              ...                               ...                              ...     ...              ...
                     ...      ...       ...       ...    ...     ...     ...            ...             ...             ...          ...                ...                ...                 ...          ...          ...         ...               ...                 ...                    ...                              ...     ...     ...     ...      ...       ...     ...     ...     ...          ...          ...     ...          ...                ...          ...          ...     ...                  ...         ...                         ...         ...       ...          ...     ...        ...     ...        ...               ...          ...              ...                     ...                                       ...        ...                    ...                      ...                                      ...      ...                ...                  ...      ...                    ...                      ...                             ...                                      ...                               ...                                        ...                    ...         ...             ...               ...                               ...         ...        ...       ...          ...               ...           ...                    ...        ...                               ...                              ...                               ...                              ...     ...              ...
Dask Name: read-parquet, 1 graph layer

We need to manually get hold of the partitions individually. We can do this easily by converting the DataFrame into a list of Dask Delayed objects.

In [7]:
parts = [part for part in ddf.to_delayed()]

In [32]:
type(parts[0])

dask.delayed.Delayed

Then load each part separately. Just loading one partition is not _too_ slow.

In [21]:
part_0 = parts[0].compute()
part_0.head()

,buyer_d1,buyer_d7,buyer_d14,buyer_d28,buy_d7,buy_d14,buy_d28,iap_revenue_d7,iap_revenue_d14,iap_revenue_d28,...,user_bundles_l28d,weekend_ratio,weeks_since_first_seen,wifi_ratio,whale_users_bundle_num_buys_prank,whale_users_bundle_revenue_prank,whale_users_bundle_total_num_buys,whale_users_bundle_total_revenue,row_id,datetime
0,0,1,1,1,1,1,1,2.147718,2.147718,2.147718,...,"[88981729bd5c1e5aea9ada4bce00a2531e9e98f7, 25c...",0.019802,6.0,0.913366,None,None,None,None,819ecc0e-1a97-43ed-83f6-b9ede4f7fc48,2025-10-01-00-00
1,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,None,NaN,NaN,NaN,None,None,None,None,0a7fbf18-5041-42af-bd0a-0cb6586b8598,2025-10-01-00-00
2,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,"[6506b7e0a24666debd08f74266800f2eb154df5a, 150...",0.399021,6.0,0.999388,None,None,None,None,fc1a2689-b136-4ffa-b23b-9d8215bd720f,2025-10-01-00-00
3,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,"[2b472e3dc96f1847490d7411b25e12ed417b9714, 3ba...",0.121547,6.0,1.000000,None,None,None,None,0340fcc6-50bd-42ab-b9f4-4c1184b640cb,2025-10-01-00-00
4,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,...,"[1031535cf2a1315422fd05d321349bcd3c3ffc04, 478...",0.293285,6.0,0.160243,None,None,None,None,219d253f-bef4-4039-84b2-ed55f009cc43,2025-10-01-00-00

The loaded partition is a Pandas DataFrame.

In [20]:
type(part_0)

pandas.core.frame.DataFrame

In [19]:
part_0.describe()

,buyer_d1,buyer_d7,buyer_d14,buyer_d28,buy_d7,buy_d14,buy_d28,iap_revenue_d7,iap_revenue_d14,iap_revenue_d28,...,release_msrp,weekday,avg_act_days,avg_days_ins,first_request_ts,last_buy,last_ins,weekend_ratio,weeks_since_first_seen,wifi_ratio
count,121887.000000,121887.000000,121887.000000,121887.000000,121887.000000,121887.000000,121887.000000,121887.000000,121887.000000,121887.000000,...,109905.000000,121887.0,61107.000000,7183.000000,5.390700e+04,2.374000e+03,2.052200e+04,63305.000000,67489.000000,63304.000000
mean,0.031217,0.042301,0.044615,0.046601,0.095096,0.124853,0.174161,8.001834,8.308581,9.071367,...,564.108494,3.0,3.998519,5.228739,1.758773e+09,1.758279e+09,1.758424e+09,0.329158,4.877195,0.641166
std,0.173906,0.201277,0.206458,0.210783,0.996749,1.397024,2.388029,2048.960358,2049.186514,2050.423635,...,514.951762,0.0,2.115821,5.584633,3.757641e+05,7.122233e+05,7.406386e+05,0.270035,1.947677,0.398610
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,30.000000,3.0,1.000000,0.000000,1.758067e+09,1.756600e+09,1.756771e+09,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,180.000000,3.0,2.000000,1.000000,1.758499e+09,1.757735e+09,1.757857e+09,0.129870,4.000000,0.221200
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,299.000000,3.0,4.000000,3.333333,1.758499e+09,1.758478e+09,1.758611e+09,0.279810,6.000000,0.842471
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,899.000000,3.0,6.000000,7.000000,1.759190e+09,1.758888e+09,1.759091e+09,0.458333,6.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,136.000000,150.000000,368.000000,696622.140000,696622.140000,696622.140000,...,5160.000000,3.0,7.000000,28.000000,1.759190e+09,1.759104e+09,1.759277e+09,1.000000,6.000000,1.000000

In [24]:
part_0.isna()

,buyer_d1,buyer_d7,buyer_d14,buyer_d28,buy_d7,buy_d14,buy_d28,iap_revenue_d7,iap_revenue_d14,iap_revenue_d28,...,user_bundles_l28d,weekend_ratio,weeks_since_first_seen,wifi_ratio,whale_users_bundle_num_buys_prank,whale_users_bundle_revenue_prank,whale_users_bundle_total_num_buys,whale_users_bundle_total_revenue,row_id,datetime
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121882,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
121883,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False
121884,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
121885,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False
121886,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,False,False

## Using Dask with PyTorch

The main objective is to be able to use PyTorch's DataLoaders with our Dask DataFrame. This is difficult because PyTorch does not accept Dask DataFrames.

In [25]:
import torch
import torch.nn as nn
import torch.optim as optim
import torch.utils as utils

device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')

The _state-of-the-art_ solution (ChatGPT's suggestion) is to create a subclass of the DataLoader.

In [26]:
class DaskIterableDataset(utils.data.IterableDataset):
    """A PyTorch IterableDataset fitted to accept Dask DataFrames as input."""
    
    def __init__ (self, ddf: dd.DataFrame):
        self.ddf = ddf

    def __iter__ (self):
        for part in self.ddf.to_delayed():
            pdf = part.compute()
            for _, row in pdf.iterrows():
                yield row
            del pdf   # optional but safe

Then iterate over it. This takes a LOT of time, so we need to partition over the data somehow.

## Second version of the DataLoader

I did not like the previous version of the DataLoader so I have created another one which instantiates a new Pytorch DataLoader object for each partition. Partitions are shuffled at each call of the iteration method and the DataLoader will internally shuffle the data of each partition. I can also set a batch size, etc... Much cleaner!

In [38]:
class DaskIterableDataset(utils.data.IterableDataset):
    """A class to iterate over a Dask DataFrame in orderly manner."""
    
    partition: list[dd.DataFrame]
    batch_size: int
    shuffle: bool
    num_workers: int
    
    def __init__ (self, ddf: dd.DataFrame,
                  batch_size: int = 1024,
                  shuffle: bool = True,
                  num_workers: int = 2):
        self.partition = [part for part in ddf.to_delayed()]
        self.batch_size = batch_size
        self.shuffle = shuffle
        self.num_workers = num_workersrkers

    def __iter__ (self):
        for part in self.ddf.to_delayed():
            dataloader = utils.data.DataLoader(part.compute(),
                                               batch_size = self.batch_size,
                                               shuffle = self.shuffle,
                                               num_workers = self.num_workers)
            for _, row in pdf.iterrows():
                yield row
            del pdf   # optional but safe